<div class="top-wrapper text-center">
  <div class="container">
    <!--今日の日付が出るようにする-->
    <div class="row">
      <div class="col-md-auto">
          <h1 class="date">2021年x月x日</h1>
          <div class="col-md-auto">
            <h1 class="date-time">只今の時刻</h1>
          </div>
      </div>
    </div>
  </div>
</div>