<div class="top-wrapper text-center">
  <div class="container">
    
    <h1 class="date">日付</h1>
  

    
  
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="row">
          <div class="col-md-6">
            <%= link_to 'Schedule_Bord', '#', class: 'btn btn-block btn btn-blue' %>
          </div>
          <div class="col-md-6">
            <%= link_to '給与明細', '#', class: 'btn btn-block btn btn-blue' %>
          </div>
      </div>
    </div>
  </div>
</div>